body {
	background-image: url("fondo-index.jpg");
}

.centrado{
	text-align: center;
}

.izquierda{
	float: left;
}

.derecha{
	float: right;
	width: 400px;
}

.white{
	color: white;
}

#tag{
	width: 12em;
}

#login{
	padding-top: 10%;
}

#boton{
	width: 12em;
}

#listado{
	opacity: 0.8;
	background-color: white;
}
