<html>
<head>
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    {{mapa.js}}
</head>
<body>
    <div class="izquierda">
        <div width=800 height=600>{{mapa.html}}</div>
    </div>
    <div id="listado" class="derecha" width=400>
        <h1>#{{tag}}</h1>

        {% for twits in listado %}
        <div class="centrado">
            <img src="{{twits['usuario']['profile_image_url']}}" alt="{{twits['usuario']['screen_name']}}">
            <h3>{{twits['usuario']['screen_name']}}</h3>
        </div>
        <div>
            <ul>
                <li>Lugar: {{twits['lugar']}}</li>
                <li>Momento: {{twits['momento']}}</li>
                <li>Coordenadas:
                    <ul>
                        <li>Longitud: {{twits['longitud']}}</li>
                        <li>Latitud: {{twits['latitud']}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</hmtl>